.square{
    width: 100px;
    height: 100px;
    background-color: limegreen;
}
.rectangle{
    width: 500px;
    height: 100px;
    background-color: limegreen;
}
.cercle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: limegreen;
}